<h1>Добро пожаловать!!</h1>
<br>
<% if current_user %>
  <p>Помошь в пользовании системой в стадии разработки, поэтому очень надеюсь на ваше желание исследовать неизвестное
  методом "тыка".</p>
  <p>
    <h4>Раздел Магазины:</h4>
    В поле Адрес вводить с наименованием города, например: <b><i>Симферополь Кирова 27</i></b> . В таком случае он найдет на карте указанный адрес и пометит его.
  </p>
<% else %>
  <p>Это система учета домашнего хозяйства.</p>
  <p>Для начала работы войдите или зарегестрируйтесь воспользовавшись кнопкой: "Рабочая кнопка",<br> в правом верхнем углу.</p>
<% end %>