<h1>Добро пожаловать!!</h1>
<br>
<p>Это система учета домашнего хозяйства.</p>
<p>Для начала работы войдите или зарегестрируйтесь воспользовавшись кнопкой: "Рабочая кнопка",<br> в правом верхнем углу.</p>